.blog_card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .blog_card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .blog_card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
  }
  
  .blog_tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin: 0;
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .blog_tag-teal {
    background-color: #47bcd4;
  }
  .blog_tag-purple {
    background-color: #5e76bf;
  }
  .tag-pink {
    background-color: #cd5b9f;
  }
  
  .blog_card-body p {
    font-size: 13px;
    margin: 0 0 40px;
  }
  .blog_user {
    display: flex;
    margin-top: auto;
  }
  
  .blog_user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .blog_user-info h5 {
    margin: 0;
  }
  .blog_user-info small {
    color: #545d7a;
  }
  