/* src/styles/nprogress.css */

#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: tomato; /* Change this to the color you want */
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the progress bar */
  }
  
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px; /* Width of the peg */
    height: 100%;
    box-shadow: 0 0 10px tomato, 0 0 5px tomato; /* Peg shadow */
    opacity: 1.0;
    z-index: 1031;
  }
  