@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: Aeonik-Black;
    src: url(../../static/fonts/Aeonik-Black.otf);
}

@font-face {
    font-family: Aeonik-Bold;
    src: url(../../static/fonts/Aeonik-Bold.otf);
}

@font-face {
    font-family: Aeonik-Medium;
    src: url(../../static/fonts/Aeonik-Medium.otf);
}

@font-face {
    font-family: Aeonik-Regular;
    src: url(../../static/fonts/Aeonik-Regular.otf);
}

@font-face {
    font-family: Aeonik-Thin;
    src: url(../../static/fonts/Aeonik-Thin.otf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../../static/fonts//Montserrat-Bold.ttf);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
    background-color: rgb(12, 12, 12);
    /* background-image: repeating-linear-gradient(to bottom right, rgba(11, 11, 11, 1), rgba(127, 48, 255, 0.066), rgba(241, 120, 64, 0.104));
    background-repeat: no-repeat;
    background-size: contain; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F17840;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

img {
    max-width: 100%;
    height: auto;
}

body p, a, span, label, input {
    font-family: 'General Sans', sans-serif !important;
}

body h1, Button, button, Link,
h2,
h3,
h4,
h5,
li,
ul,
ol {
    font-family: Aeonik-Regular !important;
    src: url(../../static/fonts/Aeonik-Regular.otf);
}

.button-primary {
    border-radius: 10px;
    background: linear-gradient(106deg, rgba(241, 120, 64, 0.05) -29.45%, rgba(241, 120, 64, 0) 27.86%), linear-gradient(267deg, rgba(23, 23, 23, 0.263) 40.67%, rgba(43, 43, 43, 0) 99.81%);
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(-187deg, #F17840 10%, rgba(38, 38, 38, 0.00) 17.02%, rgba(219, 111, 38, 0) 68.88%, #F17840 100%) 30;
    box-shadow: 0px 2px 4px 0px rgba(0, 30, 30, 0.16);
    color: white;
    height: 56px;
    transition: ease-in-out all 0.8s;
}

.button-primary:hover {
    border-image: linear-gradient(to right, rgba(38, 38, 38, 0.00) 10%, rgba(38, 38, 38, 0.00) 17.02%, rgba(219, 111, 38, 0) 68.88%, rgba(38, 38, 38, 0.00) 100%) 30;
}

.button-secondary {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 56px;
    padding: 12px 40px;
    color: white;
}

.background-glass {
    background: linear-gradient(106deg, rgba(241, 120, 64, 0.05) -29.45%, rgba(241, 120, 64, 0.00) 27.86%), linear-gradient(267deg, rgba(28, 28, 28, 0.50) 40.67%, rgba(28, 28, 28, 0.00) 99.81%);
    backdrop-filter: blur(6px);
    background-clip: padding-box;
}

.background-glass-dark {
    background: linear-gradient(106deg, rgba(0, 0, 0, 0.684)9.45%, rgba(0, 0, 0, 0.60) 27.86%), linear-gradient(267deg, rgba(23, 23, 23, 0.667) 40.67%, rgba(1, 1, 1, 0.71) 99.81%);
    backdrop-filter: blur(6px);
    background-clip: padding-box;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .moving-border {
    width: 350px;
    height: 400px;
    position: relative;
    background: #111;
    padding: 4px;
    background-image: url('https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
  
 
  .moving-border::before,
  .moving-border::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    z-index: -1;
    background: linear-gradient(var(--angle), 
      #000,  #fff, rgb(211, 116, 8));
    /* animation: rotate 10s linear infinite; */
  }
  .moving-border::after {
    filter: blur(10px);
  }

  .moving-border:hover::before,
.moving-border:hover::after {
  animation: rotate 5s linear infinite;
  transform: scale(1.05);
  transition: all .4s ease;
  opacity: 1; /* Show the border on hover */
}
.moving-border:hover h1 {
    bottom: 20px; /* Adjust this value as needed to position the h1 at the top */
    transition: all .4s ease;
    
  }
  @keyframes rotate {
    0%     { --angle: 0deg; }
    100%   { --angle: 360deg;
    }
  }


  .glowing_text{
    font-size:3rem;
    /* margin-top:45vh; */
    color:white;
    font-family: 'Merienda', cursive;
    animation-name:glow;
    animation-duration:1s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
  }
  
  @keyframes glow{
    from{text-shadow:0px 0px 5px #ff9100,0px 0px 5px #614ad3;}
    to{text-shadow:0px 0px 20px #ff9100,0px 0px 20px #614ad3;}
  }

  .vertical-container {
    position: fixed; /* Keeps the container fixed on the screen */
    right: 0; /* Aligns the container to the right edge */
    top: 50%; /* Centers the container vertically */
    transform: translateY(-50%); /* Adjusts for vertical centering */
    text-align: end; /* Centers the text inside the container */
    padding: 20px; /* Adds some padding around the text */
  }
  
  .circle1
  {
      position: absolute;
   
 
      width: 50px;
      height: 50px;
      background: radial-gradient(circle at 50% 50%, #ffcc80 0%, #ffb74d 40%, #fb8c00 70%, #e65100 100%);
      border-radius: 0px 15px 0px 50px;
      transition: all 0.5s;
      top: 0;
      right: 0;
      
  }
  .code-card:hover .circle1
  {

      /* background: radial-gradient(circle at 30% 107%, #fdc097 0%, #fd9797 5%, #fd5949 45%, #fd7a00 60%, #ebad28 90%); */
      background: radial-gradient(circle at 50% 50%, #ffcc80 0%, #ffb74d 40%, #fb8c00 70%, #e65100 100%);

      width: 300px;
      height: 200px;
      border-radius: 15px;
      transition: all 0.5s;
  }
  .code-card:hover .content
  {
      color: white;
  }

  .team-achievement-circle
  {
      position: absolute;
   
 
      width: 80px;
      height: 50px;
      background: radial-gradient(circle at 50% 50%, #ffcc80 0%, #ffb74d 40%, #fb8c00 70%, #e65100 100%);
      border-radius: 50%;
      transition: all 0.5s;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%); /* Center the circle horizontally */
      
  }
  .team-achievement-box:hover h1{
    color: black;

  }

  .team-achievement-box:hover .team-achievement-circle{
/* background: radial-gradient(circle at 30% 107%, #fdc097 0%, #fd9797 5%, #fd5949 45%, #fd7a00 60%, #ebad28 90%); */
background: radial-gradient(circle at 50% 50%, #ffcc80 0%, #ffb74d 40%, #fb8c00 70%, #e65100 100%);

width: 100%;    
height: 100%;
border-radius: 15px;
transition: all 0.5s;
bottom: 0;
border-radius: 999px;

  }
 